/* Sakrivanje tipke za odjavu prema zadanim postavkama */
button[onclick="handleSignoutClick()"] {
    display: none;
   /*margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;*/
  }
  
  /* Stil za platno Chart.js grafikona */
  /*#chart {
    display: none;
    width: 50% !important;
    height: 50% !important;
  }*/

  /*body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }*/
  
/*button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}*/

/*.chart-container {
  display: none;
  width: 100%; /* Grafikoni zauzimaju cijelu širinu roditeljskog elementa 
  max-width: 1200px; /* Maksimalna širina grafikona 
  margin: 20px auto; /* Centriranje grafikona s automatskim razmakom 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Grafikoni jedan ispod drugog 
  gap: 20px; /* Razmak između grafikona 
}*/

#chartContainer {
  width: 100%;  /* Grafikon će zauzeti 100% širine roditeljskog elementa */
  max-width: 100%;  /* Ograničava širenje izvan širine tijela */
  overflow: hidden; /* Sprječava prelijevanje sadržaja izvan okvira */
  margin: 0 auto; /* Centriraj grafikon na stranici */
  background-color: aliceblue;
}

/* Stilizacija canvas elemenata */
canvas {
  width: 100%; /* Grafikoni zauzimaju cijelu širinu kontejnera */
  max-width: 100%; /* Sprječava prelazak izvan roditeljskog elementa */
  height: 400px; /* Fiksna visina za svaki grafikon */
}

.chart-wrapper {
  width: 100%;      /* Širina koja će zauzeti cijeli prostor */
  max-width: 600px; /* Možeš ograničiti širinu */
  margin: 20px;     /* Razmak između grafikona */
  display: flex;
  justify-content: center; /* Centriraj grafikon unutar wrappera */
  align-items: center;
}