/* Sakrivanje tipke za odjavu prema zadanim postavkama */
button[onclick="handleSignoutClick()"] {
    display: none;
   /*margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;*/
  }
  
  /* Stil za platno Chart.js grafikona */
  /*#chart {
    display: none;
    width: 50% !important;
    height: 50% !important;
  }*/

  /*body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }*/
  
/*button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}*/

.chart-container {
  width: 100%; /* Grafikoni zauzimaju cijelu širinu roditeljskog elementa */
  max-width: 1200px; /* Maksimalna širina grafikona */
  margin: 20px auto; /* Centriranje grafikona s automatskim razmakom */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Grafikoni jedan ispod drugog */
  gap: 20px; /* Razmak između grafikona */
}

/* Stilizacija canvas elemenata */
canvas {
  width: 100%; /* Grafikoni zauzimaju cijelu širinu kontejnera */
  max-width: 100%; /* Sprječava prelazak izvan roditeljskog elementa */
  height: 400px; /* Fiksna visina za svaki grafikon */
}