#signoutButton {
  display: none;
}

body.page-container {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

#chartContainer {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  justify-content: center;
}

.chart-wrapper {
  width: 25%;
  margin: 10px;
  box-sizing: border-box;
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 400px;
}

#recommendations-list {
  list-style-position: inside;
  padding-left: 0;
  text-align: center;
}

#recommendations-list li {
  display: inline-block;
  margin: 5px 15px;
}